.parallax {
    background-image: url('assets/images/gfg_reading.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}